.root {
  display: flex;
  height: 100%;
}

.content {
  padding: 25px;
  overflow: auto;
  height: 100%;
  flex-grow: 10;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}
td {
  border-bottom: 1px solid #465f78;
  padding: 0.75em;
}
th {
  text-align: left;
  border-bottom: 2px solid #465f78;
  padding: 0.75em;
}

@media (max-width: 850px) {
  .root {
    flex-direction: column;
  }
}
